@model IEnumerable<StockWatch.Models.ProductStock>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Warehouse)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.StockQuantity)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.CriticalStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Warehouse.Name)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.StockQuantity)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.CriticalStock)
            </td>
           <td>
            @Html.DisplayFor(modelItem =>item.CreatedAt)
           </td>
           <td>
            @Html.DisplayFor(modelItem =>item.CreatedBy)
           </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
